/* Coyright © Connor deBoer 2024, All Rights Reserved */
:root 
{
  --ra-c-green: #34F08A;
  --ra-c-dark-blue: #1D262F;
  --ra-c-blue: #5BA7E7;
  --ra-c-gray: #44433F;
  --ra-c-yellow: #FFD718;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--ra-c-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
