/* Coyright © Connor deBoer 2024, All Rights Reserved */
.input-container
{
    display: flex;
}

.input-title
{
    font-size: medium;
    margin-right: 10px;
    color: var(--ra-c-blue);
}

.input-field
{
    margin-top: 12px;
    height: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--ra-c-green);
    background-color: var(--ra-c-dark-blue);
    color: var(--ra-c-blue);
}

.input-field:hover
{
    border-color: var(--ra-c-yellow);
    cursor: pointer;
}

.json-editor
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
}